<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="image-container" class="image-container">
        여기 tags 들어감
        <div class="image-item">
            <img class="image">
        </div>


    </div>

    <div id="image-container" class="image-container">
        여기 tags 들어감
        <div class="image-item">
            <img class="image">
        </div>


    </div>

    <div id="image-container" class="image-container">
        여기 tags 들어감
        <div class="image-item">
            <img class="image">
        </div>


    </div>

    
    



















    <div id="pagination" class="pagination">
    <!-- 페이지 버튼이 동적으로 추가될 부분 -->
    </div>
</body>
</html>